body {
  background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.3)), url('/www/img/orio.jpg');
  background-color: #af6464;
  /* Used if the image is unavailable */
  height: 100vh;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.round {
  background-color: ivory;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
